<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>idstr</key>
		<string>1</string>
		<key>name</key>
		<string>家常菜</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>2</string>
		<key>name</key>
		<string>川菜</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>3</string>
		<key>name</key>
		<string>鲁菜</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>4</string>
		<key>name</key>
		<string>湘菜</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>5</string>
		<key>name</key>
		<string>粤菜</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>6</string>
		<key>name</key>
		<string>浙菜</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>7</string>
		<key>name</key>
		<string>闽菜</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>8</string>
		<key>name</key>
		<string>苏菜</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>9</string>
		<key>name</key>
		<string>徽菜</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>10</string>
		<key>name</key>
		<string>京菜</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>11</string>
		<key>name</key>
		<string>东北菜</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>12</string>
		<key>name</key>
		<string>西北菜</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>13</string>
		<key>name</key>
		<string>面点</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>14</string>
		<key>name</key>
		<string>烘焙</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>15</string>
		<key>name</key>
		<string>煲汤</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>16</string>
		<key>name</key>
		<string>甜品</string>
	</dict>
</array>
</plist>
