<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>661</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/2/1/yuan_f28127c9f6e3c6ff54fbe297171562a1.jpg</string>
		<key>name</key>
		<string>葡式蛋挞</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84295.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>662</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/a/2/yuan_4a36f6a2ccdb46bf63d8e818904136d2.jpg</string>
		<key>name</key>
		<string>披萨</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/152867.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>663</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/6/9/yuan_76910555f58a3bac6545df731067ada9.jpg</string>
		<key>name</key>
		<string>香葱苏打饼干</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85528.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>664</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/3/f/yuan_13a16549c28e69c67abe67e7b658026f.jpg</string>
		<key>name</key>
		<string>椰蓉面包</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/185546.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>665</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/d/c/yuan_adc806f679d97593a8e9104914f62c1c.jpg</string>
		<key>name</key>
		<string>蓝莓芝士蛋糕</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/188532.html</string>
	</dict>
	<dict>
		<key>idstr</key>
		<string>666</string>
		<key>imageUrl</key>
		<string>没有图片</string>
		<key>name</key>
		<string>脆皮花边香肠披萨</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182938.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>667</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/1/9/yuan_b1699133347414a3309dd7da1cc0fd69.jpg</string>
		<key>name</key>
		<string>提拉米苏</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85180.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>668</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/d/8/yuan_9d35a522f2110e528ec23ca381e2dcd8.jpg</string>
		<key>name</key>
		<string>香肠批萨</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84777.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>669</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/8/a/yuan_1862f702b5cc4c3dfd10615e22007cca.png</string>
		<key>name</key>
		<string>肉松卷</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/187389.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>670</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/c/f/a/cf040fc71060367913e81ac1eb050aea.jpg</string>
		<key>name</key>
		<string>虎皮蛋糕卷</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/4875.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>671</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/f/e/yuan_aff59435e42523842f0b3db95755810e.jpg</string>
		<key>name</key>
		<string>纸杯蛋糕</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/153025.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>672</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/b/b/yuan_2b6bf13120601b38228e8aa629fdee8b.jpg</string>
		<key>name</key>
		<string>焦糖布丁</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/87043.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>673</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/6/6/yuan_a6a1f3f7d66de32926b1cf8d666559d6.jpg</string>
		<key>name</key>
		<string>枣泥核桃糕</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/191141.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>674</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/6/8/yuan_16beb424a25f746e03e2447c67aff138.jpg</string>
		<key>name</key>
		<string>圣诞树根蛋糕</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/181876.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>675</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/c/a/b/cae82d4350cc23aca7fc9ae38dab38ab.jpg</string>
		<key>name</key>
		<string>免烤南瓜慕斯蛋糕</string>
		<key>time</key>
		<string>10分钟左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/3637.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>676</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/7/a/yuan_9786ce6a35bd1b70a96b31762d6e35ba.jpg</string>
		<key>name</key>
		<string>豆沙酥</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84092.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>677</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/6/d/b/6dbd2699e8e7ec0047de2d5d1b28a75b.jpg</string>
		<key>name</key>
		<string>无糖莲蓉酥</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/3494.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>678</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/1/5/yuan_6162bffa34f3905087a820916637d155.jpg</string>
		<key>name</key>
		<string>羊角面包</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/80864.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>679</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/f/1/7/f1ea154c843f7cf3677db7ce922a2d17.jpg</string>
		<key>name</key>
		<string>南瓜枸杞小饼干</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/4970.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>680</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/9/2/yuan_4944164684214edb580c8337196c6292.jpg</string>
		<key>name</key>
		<string>椰香南瓜派</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/177455.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>681</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/6/d/yuan_f655793b8f9bb6b28b5c318e2cbd557d.png</string>
		<key>name</key>
		<string>葡萄干玛芬</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/186914.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>682</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/c/f/6/cf88118aa2ba88de549d08038ae76606.jpg</string>
		<key>name</key>
		<string>香葱饼干</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/3654.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>683</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/3/7/c/373e4c5d8edfa8b74fd4b6791d0cf6dc.jpg</string>
		<key>name</key>
		<string>瓜子酥</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/4734.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>684</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/9/2/yuan_590022491dd50b6b9188ab26f979bd12.jpg</string>
		<key>name</key>
		<string>蔓越莓蛋糕</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/79243.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>685</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/c/a/yuan_7c2e1c3b4e3a1c5bba2e81635b1ad81a.jpg</string>
		<key>name</key>
		<string>红糖燕麦饼干</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/80638.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>686</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/7/8/6/78daab4f4fce94374d8a53444c77c2c6.jpg</string>
		<key>name</key>
		<string>巧克力全蛋蛋糕</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/5331.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>687</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/c/3/yuan_5c8c90aef3cb9cace6f70c0878f66613.jpg</string>
		<key>name</key>
		<string>芝麻酥</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/174886.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>688</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/f/0/e/f095cedd23b99f1696fc8caecbcf257e.jpg</string>
		<key>name</key>
		<string>杏仁小饼干</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/3667.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>689</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/d/2/yuan_9d678e20f4a45c137a0492034506d432.jpg</string>
		<key>name</key>
		<string>海绵蛋糕</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84263.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>690</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/9/e/yuan_b9b2a4c347c4dbf5118f456135bb8f3e.jpg</string>
		<key>name</key>
		<string>庞多米土司</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/191816.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>691</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/8/8/5/8844c5f00372df2c3c4ee857c2451b45.jpg</string>
		<key>name</key>
		<string>白巧克力芝士蛋糕</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/3540.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>692</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/f/1/2/f11bec1411101c743f64df596773d0b2.jpg</string>
		<key>name</key>
		<string>红糖芋头酥</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/3559.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>693</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/a/1/yuan_aa5a43627571f6f85774622a060c72e1.jpg</string>
		<key>name</key>
		<string>红糖核桃饼</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182703.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>694</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/c/0/yuan_dccad8a2832a008b08563616ae3db0e0.jpg</string>
		<key>name</key>
		<string>杏仁酥饼</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/184443.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>695</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/2/b/yuan_926f4c128c0a57ab09dd35259a11db5b.jpg</string>
		<key>name</key>
		<string>椰蓉曲奇</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/183142.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>696</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/3/3/yuan_637d3c37e78606c843dc60834ee098c3.jpg</string>
		<key>name</key>
		<string>玛德琳蛋糕</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/185752.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>697</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/e/9/yuan_5e806468dc8caf5070cdd84f3a43d469.jpg</string>
		<key>name</key>
		<string>紫薯戚风</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/186038.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>698</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/b/9/yuan_0b95fce902afa66a6475151a48baa489.jpg</string>
		<key>name</key>
		<string>奶香吐司</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/185205.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>699</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/1/9/yuan_51ad50e1efb5302eaecd46adb1fc1b59.jpg</string>
		<key>name</key>
		<string>玛格丽特小饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/152851.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>700</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/2/e/yuan_12edff3a6d148607c597aa6ea092c2ae.jpg</string>
		<key>name</key>
		<string>蓝莓派</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/174778.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>701</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/9/e/8/9ecff5455677b38d19f49ce658ef0608.jpg</string>
		<key>name</key>
		<string>柚子酱饼干</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/7155.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>702</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/8/7/yuan_58a2e2429686e66d41a3eb81ac2701b7.jpeg</string>
		<key>name</key>
		<string>黄桃派</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/187801.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>703</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/c/1/yuan_7c3a106fb57f59a733b92ea7f5106501.jpg</string>
		<key>name</key>
		<string>北海道牛奶吐司</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/190443.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>704</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/9/8/yuan_3952bbcaf6f3eb4c40c009ddc29ac658.jpg</string>
		<key>name</key>
		<string>红糖杏仁饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/189285.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>705</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/4/c/yuan_5417fff41e8ca99e29406d67bb26885c.jpg</string>
		<key>name</key>
		<string>巧克力夹心酥</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/81163.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>706</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/2/4/yuan_8263f62a2b8e6a41cf1a3a5da73a5ad4.jpg</string>
		<key>name</key>
		<string>肉松蛋糕卷</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/176884.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>707</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/4/9/yuan_344e785148108f3fb5b8fa76149f9229.png</string>
		<key>name</key>
		<string>杏仁脆饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182711.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>708</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/4/3/yuan_e411cd7b168d9ca6fa8c49fa7ba87053.jpg</string>
		<key>name</key>
		<string>草莓挞</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/187503.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>709</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/e/f/yuan_7eb0c0c4e1d2f7749fbd3703960873af.jpg</string>
		<key>name</key>
		<string>雪球</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/188408.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>710</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/b/6/yuan_cb9c9b267ffc909fa6aa8f5b9f64e166.jpg</string>
		<key>name</key>
		<string>椰蓉司康</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/183213.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>711</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/3/a/yuan_430ee241750273d3ebc8fff752745dea.jpg</string>
		<key>name</key>
		<string>咖啡小饼干</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85148.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>712</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/f/f/yuan_4f5b3c40843f496846562edef27e403f.jpg</string>
		<key>name</key>
		<string>蔓越莓酥饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/187164.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>713</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/9/6/yuan_d9189279b8ecbdfbbf2c43d7d3c266d6.jpg</string>
		<key>name</key>
		<string>巧克力蛋糕</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/152626.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>714</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/2/f/yuan_92174236e84f0711923e9fad5e5a7dbf.jpg</string>
		<key>name</key>
		<string>鸡蛋布丁</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/52175.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>715</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/f/4/5/f4e369c0a468d3aeeda0593ba90b5e55.jpg</string>
		<key>name</key>
		<string>圣诞树饼干</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/6474.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>716</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/b/8/yuan_0b17d9cae4ad2fd49492f88d53544d58.jpg</string>
		<key>name</key>
		<string>意式蛋白霜马卡龙</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/153784.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>717</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/3/3/yuan_835f33f22a524e6cc0f59d23b1cb4dc3.jpg</string>
		<key>name</key>
		<string>马卡龙</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/86952.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>718</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/8/e/yuan_882df98c1cdeb66b78590ccd0cb4a6be.jpg</string>
		<key>name</key>
		<string>自制蛋糕</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/191286.html</string>
	</dict>
</array>
</plist>
