<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>427</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/0/a/yuan_70fd3db70cb0d20b80e38165357b369a.jpg</string>
		<key>name</key>
		<string>叉烧肉</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/128227.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>428</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/f/0/yuan_eff1bad2ef42807c8026519b7571bff0.jpg</string>
		<key>name</key>
		<string>豉汁排骨</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/83670.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>429</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/d/d/yuan_cd3954bf94d53965bc691581d8a8e8bd.jpg</string>
		<key>name</key>
		<string>煲仔饭</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/179296.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>430</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/2/0/yuan_824f1674310ad0d10f54ce58704cae50.jpg</string>
		<key>name</key>
		<string>肠粉</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/188026.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>431</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/f/d/yuan_4f3c4963a4f52c5456d841e7c670984d.jpg</string>
		<key>name</key>
		<string>脆皮烧肉</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/117477.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>432</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/5/b/yuan_55077913f9ee72146726cd34e2126fbb.jpg</string>
		<key>name</key>
		<string>豆豉凤爪</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/193980.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>433</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/d/2/yuan_2da86f213d54ee35156481859899cfe2.jpg</string>
		<key>name</key>
		<string>荔枝虾球</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84432.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>434</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/b/f/yuan_bbacd1b5952a04d411ce1cf5344d701f.jpg</string>
		<key>name</key>
		<string>腊味萝卜糕</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84752.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>435</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/0/b/yuan_b0526b539c3872a5ad254e558ee768bb.jpg</string>
		<key>name</key>
		<string>碗仔翅</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/183943.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>436</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/b/a/yuan_5ba940ced14fecf35556ceff239bd88a.jpg</string>
		<key>name</key>
		<string>纸包鸡</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/61142.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>437</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/9/4/yuan_f991cc24e6c44548519491f76fca6d94.jpg</string>
		<key>name</key>
		<string>豉油鸡</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/180767.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>438</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/2/c/yuan_f29dfed5fbb52f8787e2963db279abcc.jpg</string>
		<key>name</key>
		<string>咕噜肉</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/153571.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>439</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/d/d/yuan_0dcd407f34b668ace9d32c6bb2ed23cd.jpg</string>
		<key>name</key>
		<string>菜脯蛋</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/66513.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>440</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/1/8/yuan_f1e6c2661144c0ad7d88fe389e7bd088.jpg</string>
		<key>name</key>
		<string>白切鸡</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/175737.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>441</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/b/c/yuan_0be107b4300a1384e25ff8768fd5330c.jpg</string>
		<key>name</key>
		<string>叉烧包</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/181071.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>442</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/2/8/yuan_c225873006fb2679019ea8b81e9bd278.jpg</string>
		<key>name</key>
		<string>虾肉云吞</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/59690.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>443</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/b/9/yuan_abb019ff4637bca90bc6596b734ab709.jpg</string>
		<key>name</key>
		<string>阳春面</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/160742.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>444</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/5/c/yuan_05033f07089e2413b9f10dbdf0db3c8c.jpg</string>
		<key>name</key>
		<string>海鲜粥</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/191308.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>445</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/6/3/yuan_266cabd059ecc743115e849b689d4183.jpg</string>
		<key>name</key>
		<string>脆皮炸鲜奶</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/160734.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>446</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/0/a/yuan_905004db7a64907a335e9e037dde3cca.jpg</string>
		<key>name</key>
		<string>罗宋汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/176460.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>447</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/f/6/yuan_efd7fc8aef277698a0f30f3412d67176.jpg</string>
		<key>name</key>
		<string>皮蛋瘦肉粥</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/89999.html</string>
	</dict>
</array>
</plist>
