<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>543</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/7/c/yuan_b73c1d1ffdf24013a44a514d7861bd8c.jpg</string>
		<key>name</key>
		<string>土豆炖豆角</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/183422.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>544</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/d/1/yuan_5df7ce37a131d48f562ac5871b91aad1.jpg</string>
		<key>name</key>
		<string>鲶鱼炖茄子</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/82023.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>545</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/7/f/yuan_b702eb0e33fae599d83f99ff0cab32bf.jpg</string>
		<key>name</key>
		<string>尖椒干豆腐</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/161058.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>546</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/0/6/yuan_90655739cc15b8d9e7a82daee4889f76.jpg</string>
		<key>name</key>
		<string>锅包肉</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/64765.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>547</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/2/0/yuan_522fefb808d9526d4fc13eada1627b10.jpg</string>
		<key>name</key>
		<string>地三鲜</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/65879.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>548</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/5/d/yuan_854004602a701cfbe58c768f8f200efd.jpg</string>
		<key>name</key>
		<string>酸辣汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/90382.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>549</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/4/9/9/494c08f7a144d3cc4cfa661ed1244039.jpg</string>
		<key>name</key>
		<string>酱烧小土豆</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/3844.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>550</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/8/9/yuan_080e8d277fd35c6b839e062d62aced59.jpg</string>
		<key>name</key>
		<string>猪肉炖粉条</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/81293.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>551</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/9/8/yuan_799b5240157bcd936328ae79179bca98.jpg</string>
		<key>name</key>
		<string>酸菜白肉</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/189368.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>552</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/6/6/yuan_8683cfb197b0a6f85c87063672070fb6.jpg</string>
		<key>name</key>
		<string>小鸡炖蘑菇</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/81989.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>553</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/7/4/yuan_e74cff655506abfaf5ef6786196e9294.png</string>
		<key>name</key>
		<string>东北大拉皮</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/193559.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>554</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/7/d/yuan_a7cc023c95136a26a1f2ea5a8ee41d2d.jpg</string>
		<key>name</key>
		<string>东北乱炖</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/189616.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>555</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/a/b/yuan_ea8e83058d51c2948bf966e67ed387db.jpg</string>
		<key>name</key>
		<string>大酱汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/191419.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>556</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/0/a/yuan_7040843b2010f2d29cde8457da51242a.jpg</string>
		<key>name</key>
		<string>拔丝地瓜</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/19068.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>557</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/3/f/yuan_e3762d31c493032fb0a312f5b42cd5df.jpg</string>
		<key>name</key>
		<string>熏干豆腐肉卷</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/189092.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>558</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/9/1/yuan_19e6fdde211a88280424205b456ef721.jpg</string>
		<key>name</key>
		<string>蘸酱菜</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/62152.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>559</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/4/4/yuan_c409234f203b67e398d4591ed27d63e4.jpg</string>
		<key>name</key>
		<string>千张肉</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/189201.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>560</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/3/f/yuan_13e2d1e935fde5d1e38bd68af16e1b3f.jpg</string>
		<key>name</key>
		<string>酱茄条</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/62514.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>561</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/7/d/yuan_67d09859a4c843896e2b3f0e739e248d.png</string>
		<key>name</key>
		<string>酱肉大棒骨</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/187669.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>562</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/0/3/yuan_10ce03a1ed01077e3e289f3e53c72813.jpeg</string>
		<key>name</key>
		<string>杀猪菜</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/3037.html</string>
	</dict>
</array>
</plist>
