<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>352</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/4/a/yuan_b4783f741ce1383fcdde8afa9e4a395a.jpg</string>
		<key>name</key>
		<string>四川担担面</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/65216.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>353</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/e/6/2/yuan_e60e81c4cbe5171cd654662d9887aec2.jpg</string>
		<key>name</key>
		<string>四川凉面</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/1526.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>354</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/9/0/yuan_e9d86c51b03af90232ad7df616e82610.jpg</string>
		<key>name</key>
		<string>鱼香肉丝</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/162207.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>355</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/7/1/yuan_d7c783e7e445dc4dc4df9c2147326031.jpg</string>
		<key>name</key>
		<string>宫保鸡丁</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/177710.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>356</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/0/9/yuan_8045f8efe51f3df7b1cdcffa3560b8f9.jpg</string>
		<key>name</key>
		<string>水煮肉</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/83652.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>357</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/3/c/yuan_f36f8d0f30f7d16beae9b32f1617398c.jpg</string>
		<key>name</key>
		<string>毛血旺</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/90469.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>358</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/4/1/yuan_24130c8a22165f742fc433dd4dfea0b1.jpg</string>
		<key>name</key>
		<string>水煮鱼</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/89982.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>359</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/7/b/yuan_e78d677574ccf038773c26f3ed97285b.jpeg</string>
		<key>name</key>
		<string>麻辣香锅</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/82525.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>360</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/9/f/yuan_f9f731d013b097c9dd3be57ff632a48f.jpg</string>
		<key>name</key>
		<string>酸菜鱼</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/162015.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>361</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/6/c/yuan_b67738f39fbf9cfcd0ec173f0c11253c.jpg</string>
		<key>name</key>
		<string>干煸豆角</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/64184.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>362</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/c/d/yuan_5caf0644d5d1b04737903cc376ccd0bd.jpg</string>
		<key>name</key>
		<string>粉蒸排骨</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/177696.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>363</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/4/f/yuan_f4ee3e300ade688bec3c33d753ef152f.jpg</string>
		<key>name</key>
		<string>回锅肉</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/178453.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>364</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/4/0/yuan_548c669897fc1e11e50f079193ed4630.jpg</string>
		<key>name</key>
		<string>重庆辣子鸡</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/87274.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>365</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/6/a/yuan_f6b0f09bccf55c1984acfe6da48bacda.jpg</string>
		<key>name</key>
		<string>麻婆豆腐</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/89652.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>366</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/3/a/yuan_03adf1583f4eea8775704beb85a4402a.jpg</string>
		<key>name</key>
		<string>糖醋排骨</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/117444.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>367</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/8/6/0/yuan_86b122d4358357d834a87ce618a55de0.jpg</string>
		<key>name</key>
		<string>清蒸江团</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/773.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>368</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/1/5/yuan_8125a82ca1d7051823f0fcb2b3432465.jpg</string>
		<key>name</key>
		<string>川北凉粉</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/186518.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>369</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/a/9/yuan_6a2a35aacdcfb9d14e478be679209129.jpg</string>
		<key>name</key>
		<string>盆盆虾</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/190532.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>370</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/4/8/yuan_14f544dba1ca49958c4edc9f22aae3f8.png</string>
		<key>name</key>
		<string>红油抄手</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/185374.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>371</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/0/2/yuan_b0683313bcdcbd1fbfae71f0efc6cd52.jpg</string>
		<key>name</key>
		<string>烧鸡公</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/81876.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>372</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/4/9/yuan_4476ab5ee9f8e2c0ac14fbe9f5b015b9.jpg</string>
		<key>name</key>
		<string>香辣蹄花</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/190798.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>373</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/4/d/yuan_24e9d8b78840a16a27e49c760f3bfcdd.jpg</string>
		<key>name</key>
		<string>泡椒凤爪</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/86654.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>374</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/c/7/yuan_2c929fa20eb09964d07bf07c6f32a397.jpg</string>
		<key>name</key>
		<string>口水鸡</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/177757.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>375</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/6/b/yuan_36e42ccf91972a8ef9904d2fbfd0173b.jpg</string>
		<key>name</key>
		<string>夫妻肺片</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/183509.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>376</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/8/8/yuan_8889616c03342cf7dd677b559a76ddf8.png</string>
		<key>name</key>
		<string>担担面</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/187495.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>377</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/f/9/yuan_3ff5411674c2df925bf156bc7c3720e9.png</string>
		<key>name</key>
		<string>东坡肘子</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/45492.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>378</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/b/a/yuan_3b2d48479d5ab02b00f58782c754bb7a.jpg</string>
		<key>name</key>
		<string>剁椒</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/90219.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>379</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/0/1/yuan_306715da9924d1dca23994dda6d14af1.jpg</string>
		<key>name</key>
		<string>剁椒鱼头</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182674.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>380</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/c/6/yuan_dc2a805d523823752c768d75385e64e6.jpg</string>
		<key>name</key>
		<string>宫保鸡丁</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/64618.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>381</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/a/4/yuan_2a2ef0ec42d10b37e3635c48a7a27014.jpg</string>
		<key>name</key>
		<string>虎皮尖椒</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85479.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>382</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/0/8/yuan_70840af850bce44d29fc54420ef2a608.jpeg</string>
		<key>name</key>
		<string>口水鸡</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/180415.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>383</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/3/b/yuan_f3a8369cfd3746d8312973be801ceefb.jpg</string>
		<key>name</key>
		<string>辣椒油</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/192884.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>384</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/e/1/yuan_eeb1cb3b74e9bca89e3b5e3848b88b51.jpg</string>
		<key>name</key>
		<string>麻辣豆腐</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85560.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>385</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/5/3/yuan_c51c162ac5d82fa8909783a4bca44ab3.jpg</string>
		<key>name</key>
		<string>麻辣水煮鱼</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/185977.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>386</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/9/4/yuan_698f4e63b49b462e2417bff915226704.jpg</string>
		<key>name</key>
		<string>麻辣烫</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/64694.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>387</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/9/3/yuan_d940687c040d3d05567ae4b120c2d7b3.jpg</string>
		<key>name</key>
		<string>麻婆豆腐</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85290.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>388</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/7/8/yuan_d755d3dc38185ac661f17b70cf4ab478.jpg</string>
		<key>name</key>
		<string>蚂蚁上树</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/64728.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>389</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/e/a/yuan_5ee75c72f3a37fe19a53c5cef070b82a.jpg</string>
		<key>name</key>
		<string>毛血旺</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/90015.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>390</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/0/4/yuan_601651d463df41ef4384ef267a2ea1c4.jpg</string>
		<key>name</key>
		<string>酸菜鱼</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/80431.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>391</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/a/2/yuan_eab9e0aa69a1f6c8c24dfa51d3ed1e12.jpg</string>
		<key>name</key>
		<string>正宗水煮肉片</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/193249.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>392</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/a/9/yuan_ca4f93072bff5fe30b6ad5f0fcf17d49.jpg</string>
		<key>name</key>
		<string>重庆酸辣粉</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/63914.html</string>
	</dict>
</array>
</plist>
