<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>563</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/d/0/yuan_ad6f4bbacf0b7390ee2dc42592f619e0.jpg</string>
		<key>name</key>
		<string>新疆大盘鸡</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84711.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>564</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/a/e/yuan_ea59d74010c0b22c352a4d2fae2fe2de.jpg</string>
		<key>name</key>
		<string>抓饭</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/80258.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>565</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/4/7/yuan_5440c18ada002d15dc411e28b4d54267.jpg</string>
		<key>name</key>
		<string>孜然羊肉</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/90367.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>566</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/5/1/e/yuan_515ab26c135e92ed8bf3a594d67e4ade.jpg</string>
		<key>name</key>
		<string>手把肉</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/1727.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>567</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/f/b/yuan_1f8fafaaeabdf51a6b0057e5a982f13b.png</string>
		<key>name</key>
		<string>陕西凉皮</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/187307.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>568</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/8/a/yuan_b871101b95bb8657a392b7c540b45b1a.jpg</string>
		<key>name</key>
		<string>羊肉泡馍</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/87260.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>569</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/d/b/yuan_ddcbdeb023cd84f2bcd2310068b3b43b.jpg</string>
		<key>name</key>
		<string>油泼辣子</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/128196.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>570</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/e/2/yuan_ce96b83ed270d644c1922211c81c8e72.jpg</string>
		<key>name</key>
		<string>羊肉萝卜汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/82466.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>571</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/2/c/yuan_824e4f71d1fe107f6e4795b39c05313c.jpg</string>
		<key>name</key>
		<string>烤羊肉串</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84070.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>572</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/5/1/yuan_0511703587bc74bca3e776d11006ccf1.jpg</string>
		<key>name</key>
		<string>烤羊排</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/64846.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>573</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/4/f/1/yuan_4ffce04d92a4d6cb21c1494cdfcd6dc1.jpg</string>
		<key>name</key>
		<string>炸馓子</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/640.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>574</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/3/c/yuan_d36c77b99feeb7272809f44f1f0b0fec.jpg</string>
		<key>name</key>
		<string>新疆拌面</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/81483.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>575</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/0/c/yuan_b07df37e9b4f3d0c82367b5d817f4e3c.jpg</string>
		<key>name</key>
		<string>揪面片</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/186469.html</string>
	</dict>
</array>
</plist>
