<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>719</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/5/f/yuan_45be183bd2f88399f0582c4e7a685f1f.jpg</string>
		<key>name</key>
		<string>莲藕排骨汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/126082.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>720</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/8/c/yuan_9818e3716caf5a034bb366ab7b5df16c.jpg</string>
		<key>name</key>
		<string>排骨萝卜汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/83961.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>721</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/4/2/yuan_8477f49a376bf1629a8b2348ade6e5d2.jpg</string>
		<key>name</key>
		<string>八珍汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/3266.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>722</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/e/0/yuan_deab7c87f4bff3dd50723b45b2032910.jpg</string>
		<key>name</key>
		<string>排骨冬瓜汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/66385.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>723</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/4/b/yuan_24cd5069795ac05ad5091c97306b85bb.jpg</string>
		<key>name</key>
		<string>羊肉冬瓜汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/176713.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>724</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/c/f/yuan_7c2024f5b8c18c2f48daa603d013e1ef.jpg</string>
		<key>name</key>
		<string>罗宋汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/65690.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>725</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/b/5/yuan_7b2ee17f098983f82f748191eaf07995.jpg</string>
		<key>name</key>
		<string>木瓜银耳汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/190277.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>726</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/d/f/d/yuan_dfce06801e1a85d6d06f1fdd4475dacd.jpg</string>
		<key>name</key>
		<string>百合银耳汤</string>
		<key>time</key>
		<string>30分钟左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/1835.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>727</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/b/e/yuan_5bd91e126ca74d29488cc551c2cb3bfe.jpg</string>
		<key>name</key>
		<string>海带豆腐汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/58915.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>728</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/a/5/yuan_5ab93d10dfbdc731fc9a122a9656eeb5.png</string>
		<key>name</key>
		<string>玉米浓汤</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/185437.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string></string>
		<key>idstr</key>
		<string>729</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/a/f/yuan_4a24d86ae5399de6d12d4260027d915f.jpg</string>
		<key>name</key>
		<string>南瓜汤</string>
		<key>time</key>
		<string></string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/179157.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>730</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/0/b/yuan_e0427f4f37a1fae6984d7321b401320b.gif</string>
		<key>name</key>
		<string>山药乌鸡汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/175452.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>731</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/1/1/f/yuan_1141938ba2c2b13f5505d7c424ebae5f.jpg</string>
		<key>name</key>
		<string>酸菜粉丝汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/802.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>732</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/4/d/yuan_945af4be9f5064c70a1e9f9d68f5229d.jpg</string>
		<key>name</key>
		<string>疙瘩汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/154116.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>733</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/6/2/yuan_a6019631d5e050007d017d26745f2612.jpg</string>
		<key>name</key>
		<string>冬瓜丸子汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/188495.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>734</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/c/6/yuan_fc804d532af1ae8155de91061e37d756.jpg</string>
		<key>name</key>
		<string>滋补养颜汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/48816.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>735</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/b/a/3/ba51e6158bcaf80fd0d834950251e693.jpg</string>
		<key>name</key>
		<string>红薯银耳汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/6944.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>736</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/9/e/yuan_d97e8e0fc636bf4b267427b29adb6a9e.jpg</string>
		<key>name</key>
		<string>味噌汤</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/183992.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>737</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/f/b/yuan_ff8e8d85ce9fa8aa7150f9f64ec2a72b.jpg</string>
		<key>name</key>
		<string>虾仁豆腐汤</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/181957.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>738</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/c/b/yuan_4c2e5eaae9152079b9e95845750bb9ab.jpeg</string>
		<key>name</key>
		<string>黑木耳红枣汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/3856.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>739</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/4/7/yuan_34fc4fed862fd1a14362ead592726b47.jpg</string>
		<key>name</key>
		<string>鲫鱼豆腐汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/90011.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>740</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/c/3/yuan_4caf6aa0375b2499ebfe7e971b36eee3.jpeg</string>
		<key>name</key>
		<string>鸭血豆腐汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/81993.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>741</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/6/4/yuan_a685bca1d714d22cf245f0adc727bd14.jpg</string>
		<key>name</key>
		<string>丝瓜蛋汤</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/185372.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>742</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/8/5/yuan_e8b8b7304f0eba69b072598dd2272485.jpg</string>
		<key>name</key>
		<string>番茄豆腐汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/183344.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>743</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/4/2/yuan_94eec984eaa329b8d2c98d137a7bf432.jpg</string>
		<key>name</key>
		<string>鱼头豆腐汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/80621.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>744</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/3/9/yuan_53caf8587737a974d0e47482ce6628c9.jpg</string>
		<key>name</key>
		<string>丝瓜汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/83043.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>745</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/6/4/yuan_568f0fed18aa1d051c29b4b218936224.jpg</string>
		<key>name</key>
		<string>黄豆排骨汤</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/449.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>746</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/5/d/yuan_854004602a701cfbe58c768f8f200efd.jpg</string>
		<key>name</key>
		<string>酸辣汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/90382.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>747</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/1/8/yuan_e1d655045fcfd6bded8168b94e38fa78.jpg</string>
		<key>name</key>
		<string>西湖牛肉羹</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/89977.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>748</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/1/7/yuan_51bf7ab4f795c69b13e5e79bf6643717.jpg</string>
		<key>name</key>
		<string>甜酒鸡蛋</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/628.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>749</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/4/b/yuan_e4d45277b7a64750fe201f0e12aa5ceb.jpg</string>
		<key>name</key>
		<string>绿豆汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/180721.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>750</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/3/1/yuan_a32d64db034db864377c3da4f49fda91.jpg</string>
		<key>name</key>
		<string>老鸭汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/190282.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>751</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/3/7/yuan_5388609db6a4211240e4c1544d6788a7.jpg</string>
		<key>name</key>
		<string>西红柿鸡蛋汤</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182071.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>752</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/f/c/yuan_dfb50dda782963a0987410924c0553cc.jpg</string>
		<key>name</key>
		<string>海带排骨汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84841.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>753</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/4/5/yuan_a42745d45479d2859f52b9f7ba852515.jpeg</string>
		<key>name</key>
		<string>排骨玉米汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/188653.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>754</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/9/2/yuan_99d6995d6c38a1f26cb75490cbb5ec02.jpg</string>
		<key>name</key>
		<string>辣白菜豆腐汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/65174.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>755</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/1/b/yuan_114cdac531f509e3ab04a2caade973bb.jpg</string>
		<key>name</key>
		<string>茶树菇老鸭汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/13881.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>756</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/b/b/yuan_cb836a5d434b2c3c35b853f64a97358b.jpg</string>
		<key>name</key>
		<string>冰糖银耳木瓜汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182386.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>757</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/6/7/yuan_7656b560c7e180f8e0d84ca82ac0d8b7.jpg</string>
		<key>name</key>
		<string>西红柿牛腩</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84291.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>758</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/d/8/yuan_6d408c8825d4a38575d6a0135feea9c8.jpg</string>
		<key>name</key>
		<string>海鲜汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182327.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>759</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/e/5/yuan_7ec255f36c17207b2d7c35c6f31624f5.jpg</string>
		<key>name</key>
		<string>西红柿蛋汤</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/86362.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>760</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/0/7/yuan_e00357e7e566b0c38809b9bc42ede1c7.jpg</string>
		<key>name</key>
		<string>菠菜猪肝汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/175253.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>761</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/a/b/yuan_ea8e83058d51c2948bf966e67ed387db.jpg</string>
		<key>name</key>
		<string>大酱汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/191419.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>762</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/5/f/yuan_d5c6fed1ac40951a8c804072b383cd8f.jpg</string>
		<key>name</key>
		<string>冬瓜肉丸汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/86672.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>763</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/2/1/yuan_8219c1e8ec0513ce8c75965d614dfde1.png</string>
		<key>name</key>
		<string>冬瓜汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182663.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>764</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/c/1/yuan_1c8fc6a182e8c1347cfab848c0ff6a21.jpg</string>
		<key>name</key>
		<string>豆腐汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/51117.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>765</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/c/d/yuan_ac015733c2d2d90ca5b6f11e6e81cebd.jpg</string>
		<key>name</key>
		<string>高汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/152533.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>766</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/a/e/yuan_5a0911ef8c98bfd5dac226ef55f2dc5e.jpg</string>
		<key>name</key>
		<string>鸽子汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/149179.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>767</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/4/0/yuan_d4896ea2052aab8e20377ff813141100.jpg</string>
		<key>name</key>
		<string>蛤蜊汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/63268.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>768</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/2/5/yuan_92921faf3e4e9172f901d3f2c264a9c5.jpg</string>
		<key>name</key>
		<string>枸杞叶猪肝汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/65592.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>769</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/a/7/yuan_1a8bd49a21044a39ef7bac21e15a5dd7.png</string>
		<key>name</key>
		<string>菌菇骨头汤底</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182871.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>770</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/6/d/yuan_e6effde78bacd2794f7b4e84dd60f43d.jpg</string>
		<key>name</key>
		<string>海带排骨汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/178720.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>771</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/9/a/yuan_19156527a186e2948bb28077b0b4ea7a.png</string>
		<key>name</key>
		<string>鸡汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/186480.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>772</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/e/a/yuan_0e6b9bd30d2e745b6ed21e72c4dfb95a.jpg</string>
		<key>name</key>
		<string>鲫鱼豆腐汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182823.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>773</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/f/a/yuan_0fd7b7d88bf1d997aec06d8d800bee5a.jpg</string>
		<key>name</key>
		<string>鲫鱼汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/90233.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>774</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/9/d/yuan_8924fbd997eb6916a9240c707b0875fd.jpg</string>
		<key>name</key>
		<string>金针菇汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/46446.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>775</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/6/c/yuan_16b04751929f5cdd7c6d96751d0c525c.jpg</string>
		<key>name</key>
		<string>苦瓜排骨汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/59373.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>776</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/6/1/yuan_561cd0bc6f895df5df84e9cf0cf932d1.jpg</string>
		<key>name</key>
		<string>老鸭汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/62027.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>777</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/d/b/yuan_3d088ade07fc79884602e5ad4be9ee4b.jpg</string>
		<key>name</key>
		<string>莲子银耳汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84861.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>778</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/d/e/yuan_2d3d9d5373f378108cdbd30a3c52bd3e.jpg</string>
		<key>name</key>
		<string>萝卜排骨汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/8618.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>779</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/d/8/yuan_cdb8f89abbdcd55b2f37e871ecf37c18.jpg</string>
		<key>name</key>
		<string>奶油蘑菇汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/66730.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>780</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/e/9/yuan_5e18288aa74d0f2e215c11fe0b820829.jpg</string>
		<key>name</key>
		<string>牛骨汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/25601.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>781</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/c/d/yuan_7cac69797cde1def0f8ce0dcea68477d.jpg</string>
		<key>name</key>
		<string>牛肉汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/63840.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>782</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/b/6/yuan_2bca4e95e6c920f488d45bbb4eced266.jpg</string>
		<key>name</key>
		<string>牛尾汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/183895.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>783</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/7/2/yuan_b7020fefae5bb92d9b30ce30f3b1eee2.jpg</string>
		<key>name</key>
		<string>排骨莲藕汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/186723.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>784</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/1/3/yuan_81263aac5a272bbe2111d37fb9b39a53.jpg</string>
		<key>name</key>
		<string>排骨汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/164865.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>785</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/b/1/yuan_bbbeef8e6c6a68ccd526333958dfaa51.jpg</string>
		<key>name</key>
		<string>清炖鸡汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/60207.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>786</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/3/4/yuan_33665aaa39235a0d225c62c656740054.jpg</string>
		<key>name</key>
		<string>清炖羊肉</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/11226.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>787</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/c/a/yuan_acbcdc0c43af502b872014c48d21156a.jpg</string>
		<key>name</key>
		<string>山药排骨汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/80275.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>788</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/1/0/yuan_c1d2a42e35923bcd529785f5c4992cf0.jpg</string>
		<key>name</key>
		<string>上汤豆苗</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/87426.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>789</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/b/3/yuan_bbd8d0a9e252732059179fa2a94d1ff3.jpg</string>
		<key>name</key>
		<string>丸子汤</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/179980.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>790</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/0/e/yuan_300e69f72139feaef597540971ab598e.jpg</string>
		<key>name</key>
		<string>乌鸡汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/52753.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>791</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/8/f/yuan_58b242b4ab8d625707db60f2dfb6dc0f.jpeg</string>
		<key>name</key>
		<string>乌鱼汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/188457.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>792</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/c/4/yuan_0cf6fd18fb5d2a59e8cb4d059a30aed4.png</string>
		<key>name</key>
		<string>香菇炖鸡汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/24018.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>793</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/d/1/yuan_9d5594123695dcb048436e3b517e1741.jpg</string>
		<key>name</key>
		<string>鸭汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/183828.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>794</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/8/f/yuan_68179c0349f7ace32c4d0a59537a394f.jpg</string>
		<key>name</key>
		<string>羊杂汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85926.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>795</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/e/7/yuan_9e9079c8d00793f0e21650339119fbd7.jpg</string>
		<key>name</key>
		<string>玉米排骨汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/64748.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>796</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/d/7/yuan_2d78b8695a9a5c547335638309f53a27.jpg</string>
		<key>name</key>
		<string>猪肝汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/185829.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>797</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/0/a/yuan_70b48cb29aa474dc8f712213f8d26c2a.png</string>
		<key>name</key>
		<string>泡菜汤</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84793.html</string>
	</dict>
</array>
</plist>
