<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>393</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/5/9/yuan_15d8ff7b4fd0ae363dc511a5029e8599.jpg</string>
		<key>name</key>
		<string>四喜丸子</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85051.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>394</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/9/0/yuan_b93934a018b52bc42af253ca036d9750.jpg</string>
		<key>name</key>
		<string>葱烧海参</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/64901.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>395</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/4/d/yuan_94f5f883564c58cb91c0a5967cc7d6ed.jpg</string>
		<key>name</key>
		<string>黄焖鸡</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/180714.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>396</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/5/4/yuan_055a8424688d7a1aaf426ab0285c92f4.jpg</string>
		<key>name</key>
		<string>九转大肠</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/61445.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>397</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/e/3/yuan_7ee6acfbb65ac53643b58cd465a9f2a3.jpg</string>
		<key>name</key>
		<string>糖醋鱼</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85946.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>398</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/d/6/yuan_2d24cf0f7febcbedc875c8ad2c2e8966.jpg</string>
		<key>name</key>
		<string>蒸肘子</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/571.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>399</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/2/8/yuan_022a2fa87651cd9057823a850215cfa8.jpg</string>
		<key>name</key>
		<string>鲍汁杏鲍菇</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/181641.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>400</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/b/f/yuan_2b9fc76728cabdd7603e43fecade723f.jpg</string>
		<key>name</key>
		<string>软溜鱼片</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/1111.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>401</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/8/6/yuan_48d0ff3dd45261737673b2728024a246.jpg</string>
		<key>name</key>
		<string>酱爆鲜鱿</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/63237.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>402</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/2/e/a/2ef248c04979d6b3a7b283ec3dc32cca.jpg</string>
		<key>name</key>
		<string>五香鲅鱼</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/3208.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>403</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/6/0/yuan_966763ed88dc054c1b102fb635caf450.jpg</string>
		<key>name</key>
		<string>凉拌海蜇</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/190127.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>404</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/9/4/1/9407c826d8e3c07ad37cb2d13d1cb641.jpg</string>
		<key>name</key>
		<string>红烧鳗鱼</string>
		<key>time</key>
		<string>30分钟左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/2525.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>405</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/d/2/yuan_2db4c57d5e1cd4e2beac757043cc5ed2.jpg</string>
		<key>name</key>
		<string>清炒虾仁</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/87356.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>406</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/a/6/yuan_8a286b9a7cbae2fccea592adf9fb2bc6.jpg</string>
		<key>name</key>
		<string>辣炒蛤蜊</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/175326.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>407</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/a/f/yuan_8ab09aae98c8cb0f56604c23e9fb50df.jpg</string>
		<key>name</key>
		<string>糖醋里脊</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/65173.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>408</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/4/1/8/41b0db49fd10d95920281dead0710f58.jpg</string>
		<key>name</key>
		<string>蒸碗扣肉</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/4284.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>409</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/3/7/yuan_e3068d907b3ff05f6756341fc3606db7.jpg</string>
		<key>name</key>
		<string>油闷大虾</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/62374.html</string>
	</dict>
</array>
</plist>
