<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>523</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/4/e/yuan_e43c49d231ebc8e40d0105c2e60fb42e.jpg</string>
		<key>name</key>
		<string>烧茄子</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/179178.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>524</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/9/c/yuan_69bc216d9606f1b9374d05413d9efbcc.jpg</string>
		<key>name</key>
		<string>拍黄瓜</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/179437.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>525</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/9/6/yuan_39a07fb1294e8e11d9da0090776db776.jpg</string>
		<key>name</key>
		<string>北京烤鸭</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/184912.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>526</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/5/e/yuan_753a03637486bafd94e14380aaf7977e.jpg</string>
		<key>name</key>
		<string>京都排骨</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182233.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>527</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/1/d/yuan_81b1b50aa5c847a3b5d371c7fede18ad.jpg</string>
		<key>name</key>
		<string>羊蝎子</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/191851.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>528</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/a/1/yuan_aaaf17813be083dba3c45a755b88d261.jpg</string>
		<key>name</key>
		<string>京酱肉丝</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/86381.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>529</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/1/7/yuan_6116fa3bb9f390ad0bc33e89adc5ee67.jpg</string>
		<key>name</key>
		<string>扁豆焖面</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/79763.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>530</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/f/c/yuan_1f51177fce3b2f33661803f9062eda1c.jpg</string>
		<key>name</key>
		<string>春饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/79792.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>531</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/1/2/yuan_81a1449e309ae2c7dd427ae0caa04202.jpg</string>
		<key>name</key>
		<string>炸咯吱盒</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/186164.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>532</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/8/9/yuan_283c6e9236ccd16880bf8471e7f0cc99.jpg</string>
		<key>name</key>
		<string>驴打滚</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/89900.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>533</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/2/b/yuan_02cb5a64f7799716d7f453844d81c46b.jpg</string>
		<key>name</key>
		<string>蜜麻花</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/149190.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>534</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/1/c/yuan_81b464a228e6c86da4c29c14f9242fac.jpg</string>
		<key>name</key>
		<string>葱爆羊肉</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/114099.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>535</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/c/1/yuan_4c5680c3e859368bd7d0e77b0f84f871.jpg</string>
		<key>name</key>
		<string>蒜泥白肉</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/179327.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>536</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/7/f/yuan_277fccf103d0a7fc923821d8660e7def.jpg</string>
		<key>name</key>
		<string>排叉</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/47856.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>537</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/b/8/yuan_6bd39bc28bfcf331ca5bbab4af522a48.png</string>
		<key>name</key>
		<string>素炸丸子</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/183636.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>538</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/8/c/yuan_18ff0532e3d84777677e57e58b43325c.jpg</string>
		<key>name</key>
		<string>糊塌子</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/64311.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>539</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/2/4/yuan_e20eb1c67353fd32a283ed02c965bd94.jpg</string>
		<key>name</key>
		<string>豌豆黄</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/174879.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>540</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/3/4/yuan_f30097792275c7df1c9207d5552f4cd4.jpg</string>
		<key>name</key>
		<string>麻酱红糖饼</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182841.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>541</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/9/b/yuan_79028d14434b892926e985356e8bb21b.jpg</string>
		<key>name</key>
		<string>门钉肉饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/187666.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>542</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/b/b/yuan_4b482b4fa8c47268fbcdecf176211e1b.jpeg</string>
		<key>name</key>
		<string>老北京炸酱面</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/153628.html</string>
	</dict>
</array>
</plist>
