<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>798</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/e/9/yuan_9e6f6d9ebd3f937308999d77a0c41889.jpg</string>
		<key>name</key>
		<string>黑芝麻糊</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/89895.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>799</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/b/4/yuan_9b32d238d22da9409d3d5f7a4dbf9c94.jpg</string>
		<key>name</key>
		<string>脆皮鲜奶</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/190960.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>800</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/e/d/yuan_4e0ccad1864d4a33f0ae14cca33051cd.jpg</string>
		<key>name</key>
		<string>双皮奶</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/65736.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>801</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/3/6/yuan_03d063a547be59362a7d6d631ff5e156.jpg</string>
		<key>name</key>
		<string>南瓜羹</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/162142.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>802</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/2/9/yuan_229e6e04e53eaac998f13963ac50bbc9.jpg</string>
		<key>name</key>
		<string>奶茶</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/177444.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>803</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/e/2/yuan_3e910aad6196330bd8b00b6ebe883fc2.jpg</string>
		<key>name</key>
		<string>牛奶草莓布丁</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/87064.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>804</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/6/9/yuan_a66a91884821d2d8f878589b4274ce09.jpg</string>
		<key>name</key>
		<string>百合银耳汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/80192.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>805</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/0/2/yuan_40a3d0005a2a00b12d10e4a60fc88372.jpg</string>
		<key>name</key>
		<string>酸奶紫薯泥</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/152676.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>806</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/8/7/yuan_084b62d15395895bafbcc017ff496fa7.jpg</string>
		<key>name</key>
		<string>鲜橙蒸蛋</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85458.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>807</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/d/0/yuan_6d9c1d729bf1eac53112aeaf447560f0.jpg</string>
		<key>name</key>
		<string>银耳雪梨羹</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182326.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>808</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/e/9/2/e97399278d24e6bbf3a2d5e9c8d34262.jpg</string>
		<key>name</key>
		<string>草莓山药泥</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/3803.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>809</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/e/6/yuan_8e0181ec6401ea2a2364747493964e96.jpg</string>
		<key>name</key>
		<string>木瓜酸奶</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/80183.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>810</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/2/1/c/yuan_21be9a4bd4f81549a9d1d241981cec3c.jpg</string>
		<key>name</key>
		<string>绿豆奶昔</string>
		<key>time</key>
		<string>30分钟左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/1771.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>811</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/6/a/yuan_d675455bf1e8683fd51846f455ac36aa.jpg</string>
		<key>name</key>
		<string>椰汁西米露</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/83361.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>812</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/b/1/yuan_bb955d582b2aa0c5c9787ccaa7ff7ef1.jpg</string>
		<key>name</key>
		<string>香蕉奶昔</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/170731.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>813</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/1/1/yuan_114f625c8c431122a967ea3d04ceb951.jpg</string>
		<key>name</key>
		<string>红酒雪梨</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/191288.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>814</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/b/a/3/ba51e6158bcaf80fd0d834950251e693.jpg</string>
		<key>name</key>
		<string>红薯银耳汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/6944.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>815</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/4/9/yuan_844f6937a6cbf4a3082e133e72f5cf39.jpg</string>
		<key>name</key>
		<string>莲子红豆沙</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/54468.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>816</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/4/4/yuan_04aaf6bb57192f12fc4b7f218044a584.jpg</string>
		<key>name</key>
		<string>杨枝甘露</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/87358.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>817</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/d/0/0/d0997de7af2f5d411d6b9c5ac64f53a0.jpg</string>
		<key>name</key>
		<string>芒果奶酪</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/7806.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>818</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/5/b/yuan_55eeef96455fd12f5a17132d7c54d08b.jpg</string>
		<key>name</key>
		<string>宫廷奶酪</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/65532.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>819</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/c/5/yuan_ccc5ae7ea5de9c49d2a0014eac243af5.jpg</string>
		<key>name</key>
		<string>芒果冰淇淋</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/162124.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>820</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/3/b/yuan_e340329ecc56e2d898c5778a696254fb.jpg</string>
		<key>name</key>
		<string>自制冰激凌</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/175295.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>821</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/b/6/yuan_ab35346c61fc243d06932f964941b016.jpg</string>
		<key>name</key>
		<string>冰糖雪梨</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/87359.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>822</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/2/0/yuan_7223776ea7ddcd1099ed8444884132c0.jpg</string>
		<key>name</key>
		<string>冰糖雪梨</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/191058.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>823</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/6/c/yuan_760abb06f59421812f61226603c00f5c.jpg</string>
		<key>name</key>
		<string>豆浆</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/153161.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>824</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/f/e/yuan_3faab48a18a7326724417871ce7a083e.jpg</string>
		<key>name</key>
		<string>港式奶茶</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/82803.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>825</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/3/0/yuan_3350430ad15d307c4f3987b374a37670.jpg</string>
		<key>name</key>
		<string>南瓜饼</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/186705.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>826</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/1/1/yuan_d10114762da054cd61ef04af6b437ef1.jpg</string>
		<key>name</key>
		<string>西米露</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/175309.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>827</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/f/d/yuan_7f7104b9a041a956d2b1ce74361df5dd.jpg</string>
		<key>name</key>
		<string>银耳汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/154464.html</string>
	</dict>
</array>
</plist>
