<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>576</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/e/2/yuan_ce09fdc57ad1f29c9e750a8f0c3977f2.jpg</string>
		<key>name</key>
		<string>西红柿鸡蛋面</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/62165.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>577</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/2/a/yuan_d24ab94909498ffb04a15f72ec28cbaa.jpg</string>
		<key>name</key>
		<string>武汉热干面</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/89568.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>578</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/1/7/yuan_6116fa3bb9f390ad0bc33e89adc5ee67.jpg</string>
		<key>name</key>
		<string>扁豆焖面</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/79763.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>579</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/0/b/yuan_f0ade8b804cc1fe10c69cf11948f537b.jpg</string>
		<key>name</key>
		<string>牛奶馒头</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/190833.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>580</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/5/f/yuan_85b1f04f48c60954304bdfb9880c4cbf.jpg</string>
		<key>name</key>
		<string>西红柿鸡蛋饺子</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/3728.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>581</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/7/9/yuan_d736a02de8a655ff3d4dee571f8d9889.jpg</string>
		<key>name</key>
		<string>烙饼</string>
		<key>time</key>
		<string>100分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/187514.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>582</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/4/1/yuan_54e6245a2baf73a48f8f9bfd8c75f151.jpg</string>
		<key>name</key>
		<string>煎饼盒子</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/189421.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>583</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/8/8/yuan_686b08da154a243fd738765c05d5e1b8.jpg</string>
		<key>name</key>
		<string>葱花饼</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/185736.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>584</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/0/3/yuan_10dd65fafb1e9e8aac227e87855ec8a3.jpg</string>
		<key>name</key>
		<string>鸡蛋饼</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/175683.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>585</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/d/6/yuan_ed78e24f321f88514f882fd171dd2d26.jpg</string>
		<key>name</key>
		<string>葱油饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/90319.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>586</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/5/4/yuan_a53e8fd7805dfddf67e38bae74d276d4.jpg</string>
		<key>name</key>
		<string>鸡蛋灌饼</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/149346.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>587</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/d/e/yuan_7d93813a953503ae519b6bc3ef71e28e.jpg</string>
		<key>name</key>
		<string>土豆饼</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/89559.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>588</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/d/a/yuan_fda2cb09a8e7517dc4c688a46e85c87a.jpg</string>
		<key>name</key>
		<string>煎饺</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84736.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>589</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/4/d/yuan_d48d6edb5f4c7e3a02e24619a8ec4ddd.jpg</string>
		<key>name</key>
		<string>馅饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84309.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>590</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/8/0/yuan_58abb6a8bc69388368f0a273f4079f80.jpg</string>
		<key>name</key>
		<string>西红柿鸡蛋打卤面</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/64556.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>591</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/9/8/yuan_69e50a7068e7f85708f6d4731fb840f8.jpg</string>
		<key>name</key>
		<string>南瓜养生汤圆</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/184831.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>592</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/1/d/yuan_7172e7af1932387934411523da45519d.jpg</string>
		<key>name</key>
		<string>家常炒面</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/62714.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>593</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/8/2/yuan_18973e404990a0324f36875afffa4df2.jpg</string>
		<key>name</key>
		<string>酸辣面</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/66561.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>594</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/5/d/4/yuan_5d616dd38211ebb5d6ec52986674b6e4.jpg</string>
		<key>name</key>
		<string>虾肉小笼包</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/1017.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>595</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/2/3/yuan_d24589391509652df4271534189b61b3.jpg</string>
		<key>name</key>
		<string>炒面</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85247.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>596</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/a/3/yuan_1a8ea13dd13302d361b6658b5db66143.jpg</string>
		<key>name</key>
		<string>鸡蛋灌饼</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84919.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>597</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/f/8/yuan_1f0492daeb9c1b1b0eae445ac6745808.jpg</string>
		<key>name</key>
		<string>番茄肉酱意面</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/181897.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>598</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/d/9/yuan_3d26e07510dfd644d3d9718c81fcc8b9.jpg</string>
		<key>name</key>
		<string>生煎包</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/79464.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>599</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/f/a/yuan_0f2f6eacc8bf14bcc6967e749137b29a.jpg</string>
		<key>name</key>
		<string>韭菜鲜肉馄饨</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/189054.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>600</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/3/b/yuan_e38fff3730512b98798f6728345f585b.jpeg</string>
		<key>name</key>
		<string>鸡汁生煎包</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/187924.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>601</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/c/1/yuan_0c41250b3e9aae3ab03136a5373f1ff1.jpg</string>
		<key>name</key>
		<string>意大利面</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/153538.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>602</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/f/c/yuan_1f51177fce3b2f33661803f9062eda1c.jpg</string>
		<key>name</key>
		<string>春饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/79792.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>603</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/d/a/yuan_adb25c12291d17c1eae985be266f423a.png</string>
		<key>name</key>
		<string>糊塌子</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/185588.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>604</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/f/b/yuan_1f8fafaaeabdf51a6b0057e5a982f13b.png</string>
		<key>name</key>
		<string>陕西凉皮</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/187307.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>605</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/4/d/yuan_640fdc35a259b255ed8abd13f30adbcd.jpg</string>
		<key>name</key>
		<string>香煎土豆饼</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/81606.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>606</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/f/7/yuan_0f26f3dbc43ed58b11ca7e90f40acea7.jpg</string>
		<key>name</key>
		<string>家常肉饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85410.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>607</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/8/d/yuan_283b9b9390a502d564eef1ef75c7b80d.jpg</string>
		<key>name</key>
		<string>韭菜盒</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/89942.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>608</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/8/5/yuan_28e1dae316c19ac6059594f1f98e3905.jpg</string>
		<key>name</key>
		<string>黄瓜鸡蛋饼</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/192683.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>609</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/1/2/yuan_81a1449e309ae2c7dd427ae0caa04202.jpg</string>
		<key>name</key>
		<string>炸咯吱盒</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/186164.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>610</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/a/f/yuan_fa78f4284e134062c9236bc09b9b1b4f.jpg</string>
		<key>name</key>
		<string>干炒牛河</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/161051.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>611</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/4/c/yuan_346640813d441203fb061f5337274c5c.jpg</string>
		<key>name</key>
		<string>肉龙</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/174431.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>612</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/3/6/yuan_13ffe6bb367f7e9729862c89fb707ce6.jpg</string>
		<key>name</key>
		<string>煎馒头片</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/178555.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>613</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/9/5/yuan_791c5879e0eb97f8ecca0e8c19315305.jpg</string>
		<key>name</key>
		<string>鲜肉包</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84911.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>614</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/1/c/yuan_d1d0f8421b4153f702171779b5fb2f8c.jpg</string>
		<key>name</key>
		<string>香椿煎饼</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/178686.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>615</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/2/5/yuan_524e92ec30a05ea545cb57794307cfd5.jpg</string>
		<key>name</key>
		<string>鸡丝凉面</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/190712.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>616</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/8/9/yuan_58f7440aabc3df03db045678f5b7ad39.jpg</string>
		<key>name</key>
		<string>油炸糕</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85563.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>617</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/e/2/yuan_fe799b983f21bb6c8607aaab6af146c2.jpg</string>
		<key>name</key>
		<string>铜锣烧</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/162189.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>618</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/2/b/4/2b346a0aa375a07f5a90a344a61416c4.jpg</string>
		<key>name</key>
		<string>鸡丝菠菜饼</string>
		<key>time</key>
		<string></string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/3662.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>619</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/f/6/yuan_ff0e8fbcd08eb5a733d708301d86f566.jpg</string>
		<key>name</key>
		<string>雪梅娘</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/86857.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>620</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/c/7/yuan_1c34e56e9817cf36bdb6d5d3742edae7.jpg</string>
		<key>name</key>
		<string>玉米面发糕</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/180508.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>621</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/7/4/yuan_070c0b2c1a781842324305cbc1d4ed04.jpg</string>
		<key>name</key>
		<string>油条</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/184407.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>622</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/1/c/yuan_910b97f41e6d9f8a8414f598488d37cc.jpeg</string>
		<key>name</key>
		<string>炸酱面</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/180015.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>623</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/e/c/yuan_ceb6f44c46786b6a1caa2af04d2003cc.jpg</string>
		<key>name</key>
		<string>葱油拌面</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/185628.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>624</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/0/8/yuan_a056bd2443cbbf9968c33c95b2fb3268.jpg</string>
		<key>name</key>
		<string>冰皮月饼</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/183234.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>625</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/8/5/yuan_d8bdb5e9e95e53b9460ec36ebbe6d065.jpg</string>
		<key>name</key>
		<string>花卷</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/190892.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>626</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/5/8/yuan_7506de1296b9af46898a9f72a4459b48.jpg</string>
		<key>name</key>
		<string>萝卜丝饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85453.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>627</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/8/8/yuan_c8db5a59ba125a160c5af98946e60838.png</string>
		<key>name</key>
		<string>糖花卷</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/187661.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>628</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/7/1/yuan_07cbebc173aad442e9feb1513fb0e5d1.jpg</string>
		<key>name</key>
		<string>手抓饼</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/79439.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>629</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/5/0/yuan_65b553cedfe36b1a168b7600ba146140.jpg</string>
		<key>name</key>
		<string>虾饺</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/63347.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>630</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/8/2/yuan_c8d2bfac7cb17e6764c6c18b32563522.jpg</string>
		<key>name</key>
		<string>香菇青菜包</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/86642.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>631</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/1/c/a/1cdf14d1e3699d61d237cf76ce1c2dca.jpg</string>
		<key>name</key>
		<string>桃脯大米蒸糕</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/4014.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>632</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/a/9/a/a91bc76c2a6302e573badedcbf57bf7a.jpg</string>
		<key>name</key>
		<string>兰州牛肉面</string>
		<key>time</key>
		<string>40分钟左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/5838.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>633</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/d/f/yuan_1d42cfcc59eeed1c8547b365a1ce467f.jpg</string>
		<key>name</key>
		<string>炒疙瘩</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/188546.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>634</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/1/f/yuan_71443cebd6dc98c9743e6b50e7a8faef.jpg</string>
		<key>name</key>
		<string>韩国冷面</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/186950.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>635</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/d/2/6/d2b15c75c0c389b49c2efbea79cdc946.jpg</string>
		<key>name</key>
		<string>油酥大饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/4455.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>636</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/d/9/yuan_ad25e132309393ce5557d9bced13fbd9.jpg</string>
		<key>name</key>
		<string>炒猫耳朵</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/154195.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>637</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/0/a/yuan_700615dc8ecfeb1abc29b287f896310a.jpeg</string>
		<key>name</key>
		<string>肉夹馍</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/170907.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>638</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/6/5/yuan_f692e7e87e50da0cab0012743304d445.jpg</string>
		<key>name</key>
		<string>豆包</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/189366.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>639</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/4/6/yuan_b429ea4d5dcbacb5be6204800dbe19d6.jpg</string>
		<key>name</key>
		<string>全麦馒头</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/186008.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>640</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/9/8/yuan_599556287007023f3ab2a40d1a50d3f8.jpg</string>
		<key>name</key>
		<string>刀切馒头</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/186470.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>641</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/2/d/yuan_62d66ccc48918efebd8a2b8b91d5b61d.jpg</string>
		<key>name</key>
		<string>烧麦</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/190124.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>642</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/2/b/yuan_223c805876b722e4c4213eaa5fcaf57b.jpg</string>
		<key>name</key>
		<string>乌冬面</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/178196.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>643</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/8/2/yuan_d8824da523d29ece30ac8b9533a8c6b2.jpg</string>
		<key>name</key>
		<string>炸虾饼</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/187507.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>644</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/3/2/yuan_f32ef5d19e5ec507f3179cdcbbdfeaf2.jpg</string>
		<key>name</key>
		<string>苏式鲜肉月饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/125966.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>645</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/9/b/yuan_b9663aa14442cfbc0e7cc6315818970b.jpg</string>
		<key>name</key>
		<string>鲜肉锅贴</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/90409.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>646</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/1/4/yuan_f152d72f9ace596289c875b745c298a4.jpg</string>
		<key>name</key>
		<string>贴饼子</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85166.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>647</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/c/d/yuan_ac8713d5d2c7a1e08f714e6958756cbd.jpg</string>
		<key>name</key>
		<string>发面饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/152718.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>648</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/b/b/yuan_4b482b4fa8c47268fbcdecf176211e1b.jpeg</string>
		<key>name</key>
		<string>老北京炸酱面</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/153628.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>649</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/8/f/yuan_483c264532f11f6d2a7f77765bd32f0f.jpg</string>
		<key>name</key>
		<string>黄桥烧饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/175711.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>650</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/9/6/yuan_e960b55c35920eefb059505824bdf246.jpg</string>
		<key>name</key>
		<string>老北京驴打滚</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/188861.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>651</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/2/4/yuan_e20eb1c67353fd32a283ed02c965bd94.jpg</string>
		<key>name</key>
		<string>豌豆黄</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/174879.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>652</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/9/7/yuan_892847a3f2c6f463037e984d3da55587.jpg</string>
		<key>name</key>
		<string>龙须面</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/22608.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>653</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/5/5/yuan_6516dd7f8f3252bf8cd13f8c98603da5.jpg</string>
		<key>name</key>
		<string>油泼面</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/183646.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>654</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/b/1/yuan_bb270ebbb6ef271d9174f61508751431.jpg</string>
		<key>name</key>
		<string>包子</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/162023.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>655</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/d/f/yuan_cde6b61c7a1ea21e5c77270b1313aa9f.png</string>
		<key>name</key>
		<string>芹菜饺子</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182800.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>656</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/f/d/yuan_2f88d41fed016cd1f8b5d359ebc017ad.jpg</string>
		<key>name</key>
		<string>三鲜馄饨</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/125675.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>657</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/2/0/3/yuan_2084ffc53b63cad1ad7737bd42edd393.jpg</string>
		<key>name</key>
		<string>油饼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/60519.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>658</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/6/0/yuan_7675bfcc3934b1d36fc1817eed987c40.jpg</string>
		<key>name</key>
		<string>蒸饺</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/188335.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>659</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/8/0/yuan_d8dd70afb8d33ab95bc9471299af7b70.jpg</string>
		<key>name</key>
		<string>蒸肉饼</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/65927.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>660</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/8/e/yuan_98f1ec8cfaf1a828d0cbbaaa6d90792e.jpg</string>
		<key>name</key>
		<string>猪肉白菜饺子</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/83592.html</string>
	</dict>
</array>
</plist>
