<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>448</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/4/c/yuan_b4df96ad540d52d46d4a6f9ba0bfabac.jpg</string>
		<key>name</key>
		<string>东坡肉</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/85287.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>449</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/1/8/yuan_e1d655045fcfd6bded8168b94e38fa78.jpg</string>
		<key>name</key>
		<string>西湖牛肉羹</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/89977.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>450</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/e/e/yuan_6e5a3ebebbeb45391f53527902de1d3e.jpeg</string>
		<key>name</key>
		<string>龙井虾仁</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/183999.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>451</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/d/6/yuan_dd3915f642b3304770608bf2d36a1346.jpg</string>
		<key>name</key>
		<string>杭椒牛柳</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/65093.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>452</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/e/b/d/yuan_ebe2a875e6accbb811f9cd51e50e66ad.jpg</string>
		<key>name</key>
		<string>红烧鳝段</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/184478.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>453</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/0/7/5/07168af6cb0ef9f78dae15739dd73255.jpg</string>
		<key>name</key>
		<string>贵妃醉鸡</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/6755.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>454</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/6/d/yuan_3605705747d5b5ee961b0211ec82393d.jpg</string>
		<key>name</key>
		<string>孔雀开屏鱼</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/153617.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>455</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/a/2/3/yuan_a2117c56f9f664d54cb976d6cc7204e3.jpg</string>
		<key>name</key>
		<string>红烧带鱼</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/84737.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>456</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/9/5/b/yuan_9594dd50008fa921c7519e318cff341b.jpg</string>
		<key>name</key>
		<string>酱焖茄子</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/175217.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>457</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/1/8/yuan_51b66a7069b16efbd301565ff118c778.jpg</string>
		<key>name</key>
		<string>板栗焖鸡</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/80212.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>458</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/1/0/yuan_312881573ea748d52be0d13fd26aefd0.jpg</string>
		<key>name</key>
		<string>家常豆腐</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/177232.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>459</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/c/4/e/yuan_c44927c12e64bca7d853a069504f6ade.jpg</string>
		<key>name</key>
		<string>小笼包</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/181979.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>460</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/5/1/yuan_f550b855693b2d2b65470fdd94575cf1.jpg</string>
		<key>name</key>
		<string>油焖茭白</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/128172.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>461</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/0/4/yuan_80b97582a29f58da49a1ce76fcb34034.jpg</string>
		<key>name</key>
		<string>叫花鸡</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/180083.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>462</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/a/9/yuan_fa28c6cdf8dd6f41a657c3d7caa5c709.jpg</string>
		<key>name</key>
		<string>响油鳝丝</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/9300.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>463</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/1/5/9/yuan_15de21c670ae7c3f6f3f1f37029303c9.jpg</string>
		<key>name</key>
		<string>西湖莼菜汤</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/555.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>464</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/6/0/c/606c90a06173d69682feb83037a68fec.jpg</string>
		<key>name</key>
		<string>冰糖花生猪蹄</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/4879.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>465</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/7/e/yuan_576cd01c2d63ed35ca3f5e09a9b0e04e.jpg</string>
		<key>name</key>
		<string>鲜肉小馄饨</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/66762.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>掌勺(高级)</string>
		<key>idstr</key>
		<string>466</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/b/2/yuan_db4ed2ebc727061afac6a6d3ce68ffa2.jpg</string>
		<key>name</key>
		<string>梅菜扣肉</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182227.html</string>
	</dict>
</array>
</plist>
