<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>504</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/b/e/7/yuan_be713bb4269e248a870a1348ba2e25d7.jpg</string>
		<key>name</key>
		<string>干锅素肉</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/395.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>505</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/0/e/e/0ea711391df8d060f4f81141e192814e.jpg</string>
		<key>name</key>
		<string>胡适一品锅</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/6982.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>506</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/4/e/7/4edb2dc80889b1aec708ec4730f22387.jpg</string>
		<key>name</key>
		<string>野笋坛煨肉</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/6980.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>507</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/0/6/yuan_10fe8dc69a0964edc16fed1a1bd55716.jpg</string>
		<key>name</key>
		<string>炝炒青菜</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/8258.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>508</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/e/0/yuan_0e3727277a7ac3b3a30ad4b683338660.jpg</string>
		<key>name</key>
		<string>拔丝芋头</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/3811.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>509</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/7/0/b/yuan_70c639df5e30bdee440e4cdf599fec2b.jpg</string>
		<key>name</key>
		<string>三鲜锅煲</string>
		<key>time</key>
		<string>10分左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/393.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>510</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/6/4/yuan_16c9c22b7d9425c9cd39d096e248ca64.jpg</string>
		<key>name</key>
		<string>银鱼煎蛋</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/154046.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>511</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/8/a/1/yuan_8a36f4f35f490a01466c5c9a682db621.jpg</string>
		<key>name</key>
		<string>红烧臭桂鱼</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/90509.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>512</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/f/0/0/yuan_f09a7b2263e927ef72171831b4770b80.jpg</string>
		<key>name</key>
		<string>三鲜锅巴</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/185269.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>513</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/3/d/9/yuan_3dcb1854c9782ce81513cd5b7eb989b9.jpg</string>
		<key>name</key>
		<string>鱼香茄盒</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/184130.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>514</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/4/c/f/yuan_4cb0c9c610074ecaf4320f0c373170ef.jpg</string>
		<key>name</key>
		<string>啤酒鸭</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182086.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>515</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/3/3/yuan_d32d0eb017701f96c9d6fe17e1c25303.jpg</string>
		<key>name</key>
		<string>咸蛋黄焗南瓜</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/64624.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>516</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/0/b/c/yuan_0bb33a9b8618c1da667451cdbfa0001c.png</string>
		<key>name</key>
		<string>蒜蓉西兰花</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/182908.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>517</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/5/a/a/yuan_5aea50e0b0b85636c6ad826361330eca.jpg</string>
		<key>name</key>
		<string>干锅茶树菇</string>
		<key>time</key>
		<string>30-45分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/79444.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>518</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/recipe/7/c/9/7cac11e2f46ed46c339ec3d569853759.jpg</string>
		<key>name</key>
		<string>焖黄花鱼</string>
		<key>time</key>
		<string>30分钟左右</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/2408.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>切墩(初级)</string>
		<key>idstr</key>
		<string>519</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/0/a/yuan_60b701b1649d81022b84261c25e4716a.jpg</string>
		<key>name</key>
		<string>干豆角烧肉</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/152523.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>520</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/6/d/0/yuan_6da97babc3248cf1ebc2c49e81d51220.jpg</string>
		<key>name</key>
		<string>肉粽子</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/184654.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>521</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/1/5/9/yuan_15bae9fa92cfa7982d794811b05162c9.jpg</string>
		<key>name</key>
		<string>猪骨汤</string>
		<key>time</key>
		<string>1小时以上</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/177117.html</string>
	</dict>
	<dict>
		<key>diff</key>
		<string>配菜(中级)</string>
		<key>idstr</key>
		<string>522</string>
		<key>imageUrl</key>
		<string>http://cp1.douguo.net/upload/caiku/d/d/c/yuan_ddffd3bd6448da3b400e018c292edd1c.jpg</string>
		<key>name</key>
		<string>臭桂鱼</string>
		<key>time</key>
		<string>10-30分钟</string>
		<key>url</key>
		<string>http://www.douguo.com/cookbook/64683.html</string>
	</dict>
</array>
</plist>
